# Ignore all .spec.js files
*.spec.js

# Ignore .assets files

.assets/


# Dependency directories
node_modules/
jspm_packages/
web_drivers/

# Next.js build outputs
.next/
out/
build/
dist/

# Python Virtual Environment
venv/
.venv/
env/
ENV/
python/
*.pyc
__pycache__/
.pytest_cache/

# Databases
*.db
*.sqlite3

# Local env files
.env*.local
.env

# OS Metadata
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
